<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1>
                <strong>
                    <big>
                        Bookers
                    </big>
                </strong>
                の世界へようこそ！
            </h1>
        </div>
    </div>
</div>

<div id="box">
    <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <h3>
                Bookersは様々な本について知ることができるサイトです！</br>
                </br>
                自分に合った本を是非探してみてください！</br>
                </br>
                また、面白かった本があればみんなと共有してみてください！！<br>
            </h3>
        </div>
    </div>
</div>
            